{
  "users": [
    {
      "id": 2,
      "username": "Juan",
      "email": "juan@gmail.com",
      "passwordHash": "$2b$10$XsYsZhE.ke.WFUPaFpOxNePgeoonW/1gR6BwJrtM0PlTwJvVv7Gxa"
    }
  ],
  "recetas": [
    {
      "id": 1,
      "nombre": "Tortilla Española",
      "ingredientes": [
        "6 huevos",
        "4 patatas medianas",
        "1 cebolla",
        "aceite de oliva",
        "sal"
      ],
      "pasos": [
        "Pelar y cortar las patatas en rodajas finas, Freír las patatas en abundante aceite a fuego medio, Añadir la cebolla picada y cocinar hasta que esté transparente, Batir los huevos con sal en un bol grande, Escurrir las patatas y mezclar con los huevos, Cuajar la tortilla en una sartén dándole la vuelta"
      ],
      "dificultad": "Media",
      "userId": 2
    }
  ]
}